body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Styling untuk judul */
.header {
    text-align: center;
    padding: 20px;
    background-color: #4CAF50;
    color: white;
}

/* Styling untuk navbar */
.navbar {
    display: flex;
    justify-content: center;
    background-color: #333;
    padding: 10px 0;
}

.navbar a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 14px 20px;
    margin: 0 10px;
    font-size: 16px;
    transition: background-color 0.3s;
}

.navbar a:hover {
    background-color: #575757;
    border-radius: 4px;
}

/* Responsif untuk perangkat kecil */
@media (max-width: 600px) {
    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .navbar a {
        margin: 5px 0;
    }
}
